*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

.cabecalho{
    position: sticky;
    top: 0;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.cabecalho h1{
    font-size: 24px;
    color: #333;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu a:hover{
    color: #007bff;
}

/* MAIN */

.conteudo-principal{
    background-color: #f8f9fa;
}

/* HERO SECTION */

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    text-align: center;
    padding: 50px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    width: 100%;
    padding: 20px;
}

.hero-text h2{
    font-size: 36px;
    color: #333;
}

.hero-text p{
    font-size: 18px;
    color: #666;
}

.hero-text button{
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-text button a{
    text-decoration: none;
    color: #fff;
}

.hero-text button:hover{
    background-color: #0056b3;
}

/* SOBRE SECTION */

.sobre-evento{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 150px;
    background-color: #fff;
}

.destaque{
    font-size: 18px;
    color: #0554a8;
    margin-bottom: 20px;
}

/* PROGRAMAÇÃO SECTION */

.agenda-evento{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f8f9fa;
} 

.agenda-evento h2{
    font-size: 28px;
    color: #333;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.programacao{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
    padding: 20px;
    gap: 20px;
}

.programacao-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.programacao-card:hover{
    transform: translateY(-5px);
}

.programacao-title{
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.programacao-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;
    list-style: none;
}

.programacao-item{
    font-size: 16px;
    color: #666;
}

/* LOCALIZAÇÃO SECTION */

.local-evento{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 50px;
    background-color: #fff;
}

.local-evento h2{
    font-size: 28px;
    color: #333;
}

.local-evento p{
    font-size: 18px;
    color: #666;
    text-align: center;
}

/* FORM SECTION */

.inscricao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px 0px;
    background-color: #f8f9fa;
}

.inscricao h2{
    font-size: 28px;
    color: #333;
}

.inscricao form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 25px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.inscricao input, .inscricao button{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inscricao button{
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inscricao button:hover{
    background-color: #0056b3;
}

/* FOOTER */

.rodape{
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    gap: 10px;
}









